#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-0 .mbr-navbar__section {
  background: #000000;
}
#menu-0 .mbr-navbar__hamburger {
  color: #b8312f;
}
#menu-0 .mbr-navbar__items a {
  font-size: 12px;
}
#header1-5 P {
  text-align: center;
}
#menu-6 .mbr-brand__name {
  font-size: 16px;
}
#menu-6.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-6 .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-6 .mbr-navbar__hamburger {
  color: #e25041;
}
#menu-6 .mbr-navbar__items a {
  font-size: 12px;
}
#menu-12 .mbr-brand__name {
  font-size: 16px;
}
#menu-12.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-12 .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-12 .mbr-navbar__hamburger {
  color: #e25041;
}
#menu-12 .mbr-navbar__items a {
  font-size: 12px;
}
#header1-13 P {
  text-align: center;
}
#menu-w .mbr-brand__name {
  font-size: 16px;
}
#menu-w.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-w .mbr-navbar__section {
  background: #000000;
}
#menu-w .mbr-navbar__hamburger {
  color: #b8312f;
}
#menu-w .mbr-navbar__items a {
  font-size: 12px;
}
#header3-19 B {
  color: #b8312f;
}
#header3-19 H3 {
  text-align: center;
}
